<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>zSeeds - Free Html5 Templates</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="../static/css/zerogrid.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/menu.css" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	<link href="../static/css/lightbox.css" rel="stylesheet" media="all" type="text/css">
	<!-- Video Background -->
	<link href="../static/css/jquery.mb.ytplayer.min.css" rel="stylesheet" media="all" type="text/css">
	<!-- Animate.css -->
	<link href="../static/css/animate.css" rel="stylesheet" media="all" type="text/css">
	
	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!-- JS -->
	
	

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="../static/javascripts/html5.js"></script>
		<script src="../static/javascripts/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>
<body id="page-top" class="sub-page">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >
			
			<!---Main Header--->
			<div class="main-header">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Something About Us</h4>
						<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">About Us</h1>
					  </div>
					</div>
				</div>
			</div>
			
			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
				   <li class="active"><a href="./index.html"><span>zSeeds</span></a></li>
				   <li class="has-sub"><a href="#"><span>Category</span></a>
					  <ul>
						 <li class="has-sub"><a href="#"><span>Item 1</span></a>
							<ul>
							   <li><a href="#"><span>Sub Item</span></a></li>
							   <li class="last"><a href="#"><span>Sub Item</span></a></li>
							</ul>
						 </li>
						 <li class="has-sub"><a href="#"><span>Item 2</span></a>
							<ul>
							   <li><a href="#"><span>Sub Item</span></a></li>
							   <li class="last"><a href="#"><span>Sub Item</span></a></li>
							</ul>
						 </li>
					  </ul>
				   </li>
				   <li><a href="./archive.html"><span>Archive</span></a></li>
				   <li><a href="./single.html"><span>About</span></a></li>
				   <li class="last"><a href="./contact.html"><span>Contact</span></a></li>
				</ul>
			</div>
			
		</div>
	</header>

	<!--////////////////////////////////////Container-->
	<section id="page-content">
		<div class="wrap-container zerogrid">
			<div class="crumbs">
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./single.html">About</a></li>
				</ul>
			</div>
			<div id="about-us">
				<article class="post-entry single-post">
					<div class="wrap-post">
						<div class="entry-header">
							<h1 class="entry-title">Lorem ipsum dolor sit amet, consectetur adipisicing</h1>
							<div class="entry-meta">
								<a href="#"><i class="fa fa-calendar"></i> August 10, 2016</a>
								<a href="#"><i class="fa fa-comments"></i> 1 Comment</a>
								<a href="#"><i class="fa fa-tag"></i> Event, New</a>
							</div>
						</div>
						<div class="post-thumbnail-wrap">
							<img src="../static/image/single.jpg" />
						</div>
						<div class="entry-content">
							<div class="excerpt"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum exercitation ullamco laboris nisi ut aliquip.</p></div>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
							<h2>Heading 1</h2>
							<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse lorem ipsum dolor sit amet.</p>
							<h2>Heading 2</h2>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo.</p>
							<p><code>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</code></p>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
							<div class="note">
							  <ol>
								<li>Lorem ipsum</li>
								<li>Sit amet vultatup nonumy</li>
								<li>Duista sed diam</li>
							  </ol>
							  <div class="clear"></div>
							</div>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</div>
					</div>
				</article>
				<div class="zerogrid">
					<div class="comments-are">
						<div id="comment">
							<h3>Leave a Reply</h3>
							<span>Your email address will not be published. Required fields are marked </span>
							<form name="form1" id="comment_form" method="post" action="">
								<label>
								<span>Comment:</span>
								<textarea name="message" id="message"></textarea>
								</label>
								<label>
								<span>Name:</span>
								<input type="text"  name="name" id="name" required>
								</label>
								<label>
								<span>Email:</span>
								<input type="email"  name="email" id="email" required>
								</label>
								<center><input class="button button-skin " type="submit" name="SubmitComment" value="Submit"></center>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="wrap-footer">
			<div class="zerogrid">
				<div class="row">
					<div class="sm-2-4 col-footer-1">
						<div class="wrap-col">
							<h3 class="widget-title">About</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<ul class="quicklinks">
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms of Use</a></li>
							</ul>
						</div>
					</div>
					<div class="sm-1-4 col-footer-2">
						<div class="wrap-col">
							<h3 class="widget-title">Contact Us</h3>
							<p>Call us:</p>
							<strong style="font-size: 25px;">0123-456-789</strong>
							<p>Address:</p>
							<strong>123, New Lenox Chicago, IL 60606</strong>
							<p>Email:</p>
							<strong>info@yoursite.com</strong>
						</div>
					</div>
					<div class="sm-1-4 col-footer-3">
						<div class="wrap-col">
							<h3 class="widget-title">Socials</h3>
							<ul class="social-buttons">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="copyright">
				<div class="zerogrid">
					<div class="row">
						<div class="sm-1-2">
							Copyright @ - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
						</div>
						<div class="sm-1-2">
							<div id="page-top-sub"><a href="#page-top" class="button button-toTop f-right"><i class="fa fa-angle-double-up"></i></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	
	<!-- ========== Scripts ========== -->
	<script src="../static/javascripts/jquery-3.1.1.min.js"></script>
	<script src="../static/javascripts/menu.js"></script>
	<script src="../static/javascripts/jquery.localScroll.min.js"></script>
	<script src="../static/javascripts/jquery.scrollTo.min.js"></script>
	<script src="../static/javascripts/SmoothScroll.js"></script>
	<script src="../static/javascripts/wow.min.js"></script>
	
	
	
    
	
	<!-- Definity JS -->
	<script src="../static/javascripts/main.js"></script>
	
</div>
</body></html>